.userorders-page {
    width: 100%;
    height: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imgs/bgs/eric-krull-fi3_lDi3qPE-unsplash.jpg");
}

/* Gradient layer */

.layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(251, 9, 183, 0.4));
}

/* Container for user info portion */

.userorders {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 92vw;
    height: 67vw;
    left: 4%;
    top: 14vw;
    background: rgba(114, 54, 111, 0.8);
    border-radius: 2vw;
    backdrop-filter: blur(0.5vw);
}

.userorders .container {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 66vw;
    height: 60vw;
    left: 24%;
    top: 5%;
    border-radius: 2vw;
    background: #d9d9d9;
}

.userorders .userinfo-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 20%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userorders .userinfo-btn:hover {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 20%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    cursor: pointer;
    border-bottom: 0.2vw solid #72366F;
}

.userorders .orders-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 32%;
    border-radius: 0.5vw;
    border: none;
    color: white;
    background: #b583b3;
    font-size: 1.5vw;
    cursor: pointer;
}

.userorders .payment-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 44%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userorders .payment-btn:hover {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 44%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    border-bottom: 0.2vw solid #72366F;
}

.userorders .addresses-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 56%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userorders .addresses-btn:hover {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 56%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    border-bottom: 0.2vw solid #72366F;
}


.userorders .signout-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 68%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userorders .signout-btn:hover {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 68%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    border-bottom: 0.2vw solid #72366F;
}


