.register-page {
    width: 100%;
    height: 84vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imgs/bgs/eric-krull-fi3_lDi3qPE-unsplash.jpg");
}

/* Gradient layer */

.layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(251, 9, 183, 0.4));
}

/* Container for register portion */

.register-container {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 78vw;
    left: 10%;
    top: 12vw;
    background: rgba(114, 54, 111, 0.8);
    border-radius: 2vw;
    backdrop-filter: blur(0.5vw);
}

.register-container .title {
    position: absolute;
    font-size: 4vw;
    top: 4vw; 
    color: #ffffff;
}

.icon-register {
    position: absolute;
    width: 15vw;
    top: 15vw;
}

.register-container .form {
    position: relative;
    font-size: 2vw;
    width: 60vw;
    height: 40vw;
    top: 34vw;
    color: #ffffff;
}

#register_name, #register_mail, #register_phone, #register_password, #register_confirm {
    position: relative;
    display: block;
    font-size: 2vw;
    margin: 2vw auto;
    width: 35vw;
    color:rgb(255, 255, 255);
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: rgb(255, 255, 255);
    background-color:transparent;
}

#form-register-btn {
    position: relative;
    font-size: 2.5vw;
    top: 5vw;
    width: 25vw;
    height: 6vw;
    border: none;
    border-radius: 5vw;
    color: #fff;
    background-color: #B583B3;
    cursor: pointer;
}

#form-register-btn:hover {
    background-color: #583257;
}

#form-register-btn:active {
    background-color: #350808;
}