.store-page {
    width: 100%;
    height: 66vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imgs/bgs/eric-krull-fi3_lDi3qPE-unsplash.jpg");
}

/* Gradient layer */

.layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(251, 9, 183, 0.4));
}

/* Filter options */

.filter {
    width: 25%;
    height: 100%;
    background-color: rgba(114, 54, 111, 0.9);
}

.genres {
    position: relative;
    top: 2vw;
    left: 2vw;
    font-size: 1.5vw;
    color: #fff;
}

.genres .title {
    font-size: 3vw;
}

/* Custom checkboxes */

input[type=checkbox] {
    width: 2vw;
    height: 2vw;
    accent-color: #72366F;
}

#price_min, #price_max, #year_min, #year_max {
    width: 6vw;
    height: 2vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    accent-color: #72366F;
}

#filter-btn {
    position: relative;
    font-size: 2vw;
    top: 2vw;
    left: 2.5vw;
    padding: 1vw 6vw;
    border: none;
    border-radius: 2vw;
    color: #fff;
    background-color: #B583B3;
}

#filter-btn:hover {
    background-color: #583257;
}

#filter-btn:active {
    background-color: #350808;
}

.albums {
    position: absolute;
    width: 71%;
    height: 60vw;
    left: 27vw;
    top: 10vw;
    border-radius: 1vw;
    background-color: rgba(181, 131, 179, 0.4);
    backdrop-filter: blur(0.5vw);
}

/* Containers for albums */

#container1 {
    position: absolute;
    top: 4vw;
    left: 4vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container1:hover {
    outline: 0.5vw solid #72366F;
}

#container2 {
    position: absolute;
    top: 4vw;
    left: 26vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container2:hover {
    outline: 0.5vw solid #72366F;
}

#container3 {
    position: absolute;
    top: 4vw;
    left: 48vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container3:hover {
    outline: 0.5vw solid #72366F;
}

#container4 {
    position: absolute;
    top: 32vw;
    left: 4vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container4:hover {
    outline: 0.5vw solid #72366F;
}

#container5 {
    position: absolute;
    top: 32vw;
    left: 26vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container5:hover {
    outline: 0.5vw solid #72366F;
}

#container6 {
    position: absolute;
    top: 32vw;
    left: 48vw; 
    width: 18vw;
    height: 24vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    transition: outline 0.1s linear;
}

#container6:hover {
    outline: 0.5vw solid #72366F;
}

/* Image and text for album's cards */

.album img {
    display: block;
    width: 100%;
}

.card {
    position: absolute;
    width: 50%;
    top: 2vw;
    left: 4.5vw;
}

.card .text{
    position: relative;
    color: black;
    top: 3vw;
    text-align: center;
    font-size: 1.25vw;
}

.store-page .pagination {
    position: relative;
    bottom: 4vw;
    left: 50vw;
    width: 50vw;
}

.pagination button {
    width: 3.5vw;
    height: 3.5vw;
    color: white;
    background-color: #b583b3;
    border-radius: 100%;
    border: none;
    font-size: 1.25vw;
    margin: 0vw 0.5vw;
    cursor: pointer;
}

.pagination .active {
    background-color: #72366F;
}