.userpayment-page {
    width: 100%;
    height: 73vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imgs/bgs/eric-krull-fi3_lDi3qPE-unsplash.jpg");
}

/* Gradient layer */

.layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(251, 9, 183, 0.4));
}

/* Container for user info portion */

.userpayment {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 92vw;
    height: 67vw;
    left: 4%;
    top: 12vw;
    background: rgba(114, 54, 111, 0.8);
    border-radius: 2vw;
    backdrop-filter: blur(0.5vw);
}

.userpayment .container {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 66vw;
    height: 60vw;
    left: 24%;
    top: 5%;
    border-radius: 2vw;
    background: #d9d9d9;
}

.userpayment .userinfo-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 20%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userpayment .userinfo-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userpayment .orders-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 52%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userpayment .orders-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userpayment .payment-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 36%;
    border-radius: 0.5vw;
    border: none;
    color: white;
    background: #b583b3;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userpayment .signout-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 68%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userpayment .signout-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userpayment label {
    position: absolute;
    color: #72366f;
    bottom: 3vw;
    left: -4vw;
    font-size: 1.5vw;
    white-space: nowrap;
}

.userpayment .input-card {
    position: absolute;
    left: 15%;
    top: 25%;
}

.input-card input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userpayment .input-holder {
    position: absolute;
    left: 55%;
    top: 25%;
}

.input-holder input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userpayment .input-security {
    position: absolute;
    left: 55%;
    top: 40%;
}

.input-security input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userpayment .input-expiration {
    position: absolute;
    left: 15%;
    top: 40%;
}

.input-expiration input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userpayment .input-address {
    position: absolute;
    left: 15%;
    top: 70%;
}

.input-address textarea {
    width: 20vw;
    font-size: 1.3vw;
    color: #72366f;
    resize: none;
    border-color: #72366f;
    background-color:white;
}

.input-address label {
    position: absolute;
    color: #72366f;
    bottom: 10vw;
    left: -5vw;
}

.userpayment .input-receiver {
    position: absolute;
    left: 55%;
    top: 70%;
}

.input-receiver input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userpayment .card-title {
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 2.5vw;
    color: #72366f;
    text-decoration: underline;
}

.userpayment .address-title {
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 2.5vw;
    color: #72366f;
    text-decoration: underline;
}

.userpayment .save-btn {
    position: absolute;
    right: 11%;
    top: 84%;
    width: 14vw;
    height: 4vw;
    cursor: pointer;
    font-size: 1.5vw;
    border: none;
    border-radius: 2vw;
    color: #fff;
    background-color: #B583B3;
}

.userpayment .save-btn:hover {
    background-color: #583257;
}

.userpayment .save-btn:active {
    background-color: #350808;
}

/* Tooltip container */

.tooltip-payment {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-payment .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: #583257;
    color: #fff;
    text-align: center;
    padding: 1vw 0;
    border-radius: 0.5vw;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 180%;
    left: 40%;
    font-size: 1vw;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-payment .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -1vw;
    border-width: 1vw;
    border-style: solid;
    border-color: transparent transparent #583257 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-payment:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 