.userinfo-page {
    width: 100%;
    height: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imgs/bgs/eric-krull-fi3_lDi3qPE-unsplash.jpg");
}

/* Gradient layer */

.layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(251, 9, 183, 0.4));
}

/* Container for user info portion */

.userinfo {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 92vw;
    height: 67vw;
    left: 4%;
    top: 14vw;
    background: rgba(114, 54, 111, 0.8);
    border-radius: 2vw;
    backdrop-filter: blur(0.5vw);
}

.userinfo .container {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 66vw;
    height: 60vw;
    left: 24%;
    top: 5%;
    border-radius: 2vw;
    background: #d9d9d9;
}

.userinfo .userinfo-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 20%;
    border-radius: 0.5vw;
    border: none;
    color: white;
    background: #b583b3;
    font-size: 1.5vw;
    cursor: pointer;
}

.userinfo .orders-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 32%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userinfo .orders-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userinfo .payment-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 44%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userinfo .payment-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userinfo .addresses-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 56%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userinfo .addresses-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userinfo .signout-btn {
    display: flex;
    position: absolute;
    justify-content: left;
    text-align: center;
    width: 15vw;
    padding: 1vw;
    left: 4%;
    top: 68%;
    border: none;
    color: white;
    background: none;
    font-size: 1.5vw;
    transition: border-bottom 0.2s linear;
    cursor: pointer;
}

.userinfo .signout-btn:hover {
    border-bottom: 0.2vw solid #72366F;
}

.userinfo label {
    position: absolute;
    color: #72366f;
    bottom: 3vw;
    left: -4vw;
    font-size: 1.5vw;
    white-space: nowrap;
}

.userinfo .input-name {
    position: absolute;
    left: 15%;
    top: 15%;
}

.input-name input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .input-phone {
    position: absolute;
    left: 55%;
    top: 15%;
}

.input-phone input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .input-email {
    position: absolute;
    left: 15%;
    top: 30%;
}

.input-email input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .input-currentpassword {
    position: absolute;
    left: 15%;
    top: 55%;
}

.input-currentpassword input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .input-newpassword {
    position: absolute;
    left: 15%;
    top: 75%;
}

.input-newpassword input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .input-confirmnewpassword {
    position: absolute;
    left: 55%;
    top: 75%;
}

.input-confirmnewpassword input {
    width: 20vw;
    font-size: 1.5vw;
    color: #72366f;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #72366f;
    background-color:transparent;
}

.userinfo .save-btn {
    position: absolute;
    left: 15%;
    top: 88%;
    width: 14vw;
    height: 4vw;
    cursor: pointer;
    font-size: 1.5vw;
    border: none;
    border-radius: 2vw;
    color: #fff;
    background-color: #B583B3;
}

.userinfo .save-btn:hover {
    background-color: #583257;
}

.userinfo .save-btn:active {
    background-color: #350808;
}

.userinfo .change {
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 2.5vw;
    color: #72366f;
    text-decoration: underline;
}